<div class="col-lg-12">
	<div class="card">
		<div class="card-header">
			<h3><i class="fa fa-info"></i> Department Form<button class="btn btn-outline-success float-right" ng-click="app.edit(this)"><i class="fa" ng-class="{'fa-edit': btns.ok.btn, 'fa-ban': !btns.ok.btn}"></i></button></h3>
		</div>
		<div class="card-body">
			<form name="formHolder.department" novalidate autocomplete="off">
				<div class="row"> 
					<div class="col-lg-4">
						<div class="form-group">
							<label>Name</label>
							<input type="text" ng-class="{'is-invalid': formHolder.department.dept_name.$touched && formHolder.department.dept_name.$invalid}" name="dept_name" class="form-control input-default" ng-model="department.dept_name" ng-disabled="btns.ok.btn" required>
							<div class="invalid-feedback">This field is required</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label>Head</label>
							<input type="text" name="dept_head" ng-class="{'is-invalid': formHolder.department.dept_head.$touched && formHolder.department.dept_head.$invalid}" class="form-control input-default" ng-model="department.dept_head" ng-disabled="btns.ok.btn" required>
							<div class="invalid-feedback">This field is required</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label>Note</label>
							<input type="text" name="dept_note" ng-class="{'is-invalid': formHolder.department.dept_note.$touched && formHolder.department.dept_note.$invalid}" class="form-control input-default" ng-model="department.dept_note" ng-disabled="btns.ok.btn" required>
							<div class="invalid-feedback">This field is required</div>
						</div>
					</div>
				</div>
			</form>
			<hr>
			<div class="col-lg-12">
				<div class="row pull-right">
					<button class="btn btn-outline-secondary" ng-click="app.cancel(this)" style="margin-right: 5px;">{{btns.cancel.label}}</button>
					<button class="btn btn-success" ng-click="app.save(this)" ng-disabled="btns.ok.btn">{{btns.ok.label}}</button>
				</div>
			</div>
		</div>
	</div>
	
</div>