<style type="text/css"> .switch {   position: relative;   display: inline-block;   width: 53px;   height: 25px; } .switch input {display:none;} .slider {   position: absolute;   cursor: pointer;   top: 0;   left: 0;   right: 0;   bottom: 0;   background-color: #c7c7c7;   -webkit-transition: .4s;   transition: .4s; } .slider:before {   position: absolute;   content: "";   height: 20px;   width: 20px;   left: 4px;   bottom: 2px;   background-color: white;   -webkit-transition: .4s;   transition: .4s; } input:checked + .slider {   background-color: #169F85; } input:disabled + .slider {   background-color: #b1afaf; } input:focus + .slider {   box-shadow: 0 0 1px #169F85; } input:checked + .slider:before {   -webkit-transform: translateX(26px);   -ms-transform: translateX(26px);   transform: translateX(26px); } /* Rounded sliders */ .slider.round {   border-radius: 34px; } .slider.round:before {   border-radius: 50%; } </style>
<div class="col-lg-12">
	<div class="card">
		<div class="card-header">
			<h3><i class="fa fa-info"></i> Group Form<button class="btn btn-outline-success float-right" ng-click="app.edit(this)"><i class="fa" ng-class="{'fa-edit': btns.ok.btn, 'fa-ban': !btns.ok.btn}"></i></button></h3>
		</div>
		<div class="card-body">
		<div class="basic-form">
			<form name="formHolder.group" novalidate autocomplete="off">
				<div class="row"> 
					<div class="col-lg-4">
						<div class="form-group">
							<label>Group Name</label>
							<input type="text" ng-class="{'is-invalid': formHolder.group.name.$touched && formHolder.group.name.$invalid}" name="name" class="form-control input-default" ng-model="group.name" ng-disabled="btns.ok.btn" required>
							<div class="invalid-feedback">This field is required</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label>Group Description</label>
							<input type="text" name="description" ng-class="{'is-invalid': formHolder.group.description.$touched && formHolder.group.description.$invalid}" class="form-control input-default" ng-model="group.description" ng-disabled="btns.ok.btn"required>
							<div class="invalid-feedback">This field is required</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row" ng-repeat="p in privileges" style="border-bottom: 1px solid #cccccc;">
					<div class="col-lg-3" ng-repeat="pp in p.privileges">
					<br>
						<div class="form-group">
							<h6>{{p.description}}</h6>
							<div class="checkbox">
								<label class="switch">
								  <input type="checkbox" class="flat" ng-checked="pp.value" ng-model="pp.value" ng-disabled="btns.ok.btn">
								  <span class="slider round"></span>
								</label>
								<p>{{pp.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</form>
			<br>
			<div class="col-lg-12">
				<div class="row pull-right">
					<button class="btn btn-outline-secondary" ng-click="app.cancel(this)" style="margin-right: 5px;">{{btns.cancel.label}}</button>
					<button class="btn btn-success" ng-click="app.save(this)">{{btns.ok.label}}</button>
				</div>
			</div>
		</div>
	</div>

</div>